@model CondominiumNetwork.WebApp.ViewModels.OcurrenceViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Profile.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Profile.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PublishDateTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PublishDateTime)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Content)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Content)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Category)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Category)
        </dd>
    </dl>
</div>

<div id="AnswerTarget">
    <partial name="_AnswersOcurrence"/>
    </div>

    <div id="myModal" class="modal fade in">
        <div class="modal-dialog">
            <div class="modal-content">
                <div id="myModalContent"></div>
            </div>
        </div>
    </div>

    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

        <script>
            $(document).ready(function () {
                AjaxModal();
            });
        </script>
    }

    <div>
        <a class="btn btn-dark" asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
        <a class="btn btn-info" asp-action="Index">Back to List</a>
    </div>
